@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');


html,
body{
    direction: rtl;
    text-align:right;

}

body{
    font-family: 'Tajawal', sans-serif;
}


a:hover{

    text-decoration: inherit;

}

.dropdown-menu .dropdown-item{
    text-align:right;
}


.comment-card{
    background-color:#fcfcfc2e;
}

.comments-body .card-title{
    border-bottom:1px solid #ddd;
}

.no-comments{
    border:4px dashed #F1F1F1 !important;
     background-color:#F8F8F8;
    margin:20px 0 !important;
}

/*   Start post Content     */




/*  End Post Content    */



/**** post editing buttons**************/
.btn-editing{
    float:left;
}

/**** End post editing buttons**************/