{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


    <div class="border p-3 my-4">

        <img src="{{ post.author.profile.image.url }}" style="max-width:70px" alt="صورة الناشر">

        <span class="text-muted mx-3">نشر في {{ post.post_date|date:'d-m-Y' }}</span>


        {% if post.author == user %}
        <!--------- Button of editing ---------------->
        <div class="form-group btn-editing my-3">
            <a href="{% url 'edit_post' post.id %}" class="btn btn-secondary">تحرير</a>
            <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">حذف</a>
        </div>

        {% endif %}



        <h3><a href="#">{{ post.title }}</a></h3>
        <p>{{ post.content }}</p>

    </div>

    <h1 class="border-bottom"> التعليقات ({{ comments.count }})</h1>

    <div class="comments-body my-4">
    {% if comments %}
        {% for comment in comments %}
            <div class="card my-2 p-3 comment-card">
                <div class="card-img">
                    <img src="{{ comment.author.profile.image.url }}" class="img-fluid">
                </div>
                <div class="card-title">
                    <h3 class="">{{ comment.name }}</h3>
                    <small class="text-muted">{{ comment.comment_date|date:'d-m-Y' }} </small>

                </div>
                <div class="card-body">
                    <p class="">{{ comment.body|safe }}</p>
                </div>


            </div>

        {% endfor %}

        {% else %}

        <div class="no-comments text-center m-auto p-4  mb-4 text-muted">
            <h3>لا يوجد تعليقات</h3>
        </div>

    {% endif %}

    </div>

    <div class="newComment-body mt-5">
    <h3 class="border-bottom">اضافه تعليق</h3>

    <form method="POST" class="my-5 border p-5" novalidate>
        {% csrf_token %}
        {{ CommentForm|crispy }}
        <input type="submit" value="نشر التعليق" class="btn btn-secondary">
    </form>

    </div>



{% endblock %}