{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <h3 class="border-bottom p-2">تسجيل دخول</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form method="POST" class="my-5 border p-5">

        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="تسجيل دخول" class="btn btn-secondary">
        <div class="border-top mt-5">
            <small><a href="{% url 'register' %}">انشاء حساب اذا لم يكن لديك حساب</a></small>
        </div>
    </form>





{% endblock %}